<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BingWallpaper.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BingWallpaper.Core.Properties.Settings>
            <setting name="WallpaperSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WallpaperStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseJustClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TodayImageCopyright" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSetTime" serializeAs="String">
                <value>0005</value>
            </setting>
        </BingWallpaper.Core.Properties.Settings>
    </userSettings>
</configuration>