<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target name="logDebug" xsi:type="File" fileName="Log/Debug.log" />
    <target name="logError" xsi:type="File" fileName="Log/Error.log" />
    <target name="logWarn" xsi:type="File" fileName="Log/Warn.log" />
    <target name="logInfo" xsi:type="File" fileName="Log/Info.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logInfo" />
    <logger name="*" minlevel="Debug" writeTo="logDebug" />
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Warn" writeTo="logWarn" />
  </rules>
</nlog>