<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WallpaperSize" value="0"/>
    <add key="WallpaperStyle" value="0"/>
    <add key="ImageSavePath" value=""/>
    <add key="CloseJustClose" value="true"/>
    <add key="AutoStart" value="false"/>
    <add key="AutoSet" value="false"/>
    <add key="AppFirstStart" value="true"/>
    <add key="TodayImageCopyright" value=""/>
    <add key="AutoSetTime" value="0005"/>
  </appSettings>
</configuration>